body {
  background-image: url(https://images.unsplash.com/photo-1513002749550-c59d786b8e6c?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
  filter:brightness(100);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.weather-block {
    background-color: #ffffff8f;
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.5);
    border-radius: 20px;
    margin: 5vh;
    padding: 5vh;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

.form-control {
  margin-bottom: 3vh;
}

.current-weather, .forecast-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.forecast-container {
  display: flex;
  flex-direction: column;
  gap: 20px; 
}

.forecast-day {
  padding: 15px;
  border-bottom: 2px solid #ccc;
}

.forecast-day:last-child {
  border-bottom: none; 
}

.forecast-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px dashed #ddd;
}

.forecast-time:last-child {
  border-bottom: none; 
}

.forecast-time p {
  margin: 0;
}

.forecast-time img, .current-weather img {
  width: 50px;
  height: 50px;
}

.forecast-day h3 {
  text-align: left;
  font-size: 1.5em;
  color: #333;
  margin-bottom: 20px; 
  border-bottom: 2px solid #007bff;
}

.current-weather h2 {
  font-size: 1.8em;
  color: #007bff;
  text-align: center;
}

.current-weather p {
  font-size: 1.2em;
  text-align: center;
}

.forecast-table {
  width: 100%;
  border-collapse: collapse;
}

.forecast-table th, .forecast-table td {
  padding: 8px;
  text-align: center;
}

.forecast-table th {
  background-color: #f2f2f2; 
}